### IntelliJ IDEA ###
.idea/

### Maven ###
.mvn/

### Docs ###
docs/java/

### Output ###
out/artifacts/

### Resources ###
/src/main/resources/META-INF/
/src/main/resources/config.json

### Target ###
target/